.nav{
    margin-left: 1rem; 
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4rem;
}

.nav-link{
    color: white;
    transition: 1s;
}

.nav-link:hover{
    color: rgb(110, 91, 122);
}

a{
    text-decoration: none;
    font-family: 'Fira Sans Extra Condensed';
    font-size: 1.2em;
}


@media (max-width: 575.98px)and (orientation:portrait) {
    .text {
        font-size: 1em;
        padding: 20px;
    }

    .img {
        width: 95px;
        height: 80px;
    }
 }