.img{
    width: 115px;
    height: 100px;
    border-radius: 22px;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contain{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem;
}

.spin{
    margin: 0 auto;
    transition-duration: 3s;
}