@import url('https://fonts.googleapis.com/css2?family=Allura&family=Amatic+SC&family=Fira+Sans+Extra+Condensed:wght@100&family=Staatliches&display=swap');

.App {
  text-align: center;
}

.head{
  display: flex;
  justify-content: space-around;
}

.foto {
  height: 30vmin;
  width: 25vmin;
  border-radius: 10px;
  /* box-shadow: 10px 10px 7px 2px rgb(122, 114, 76); */
  /* margin-left: -26rem;  */
  
}

.nombre{
  font-family: 'Fira Sans Extra Condensed';
  font-size: 3em;
  color: white;
  margin-top: 5rem;
}








/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
